sudo: required
language: bash
services:
  - docker

env:
  global:
    - IMG=biggis/spark:2.3.1
    - IMG_CLIENT=biggis/spark-client:2.3.1
    - RANCHER_ENV=cluster
    - RANCHER_STACK=analytics

install:
  #login to dockerhub
  - docker login --username=$DOCKER_HUB_USERNAME --password=$DOCKER_HUB_PASSWORD

script:
  #build the images
  - docker build --build-arg BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"` --build-arg VCS_REF=`git rev-parse --short HEAD` -t $IMG .
  - docker build --build-arg BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"` --build-arg VCS_REF=`git rev-parse --short HEAD` -t $IMG_CLIENT -f Dockerfile.client .

after_success:
  - echo "build successful"
  #push the image to dockerhub
  - docker push $IMG
  - docker push $IMG_CLIENT
  #deploy to Rancher
  - docker run -ti --rm cdrx/rancher-gitlab-deploy:latest upgrade --rancher-url $RANCHER_URL --rancher-key $RANCHER_ACCESS_KEY --rancher-secret $RANCHER_SECRET_KEY --environment $RANCHER_ENV --stack $RANCHER_STACK --service spark-master --new-image $IMG --finish-upgrade
  - docker run -ti --rm cdrx/rancher-gitlab-deploy:latest upgrade --rancher-url $RANCHER_URL --rancher-key $RANCHER_ACCESS_KEY --rancher-secret $RANCHER_SECRET_KEY --environment $RANCHER_ENV --stack $RANCHER_STACK --service spark-worker --new-image $IMG --finish-upgrade
