sudo: required
language: bash
services:
  - docker

env:
  global:
    - IMG_SPARK=biggis/spark:2.2.0
    - IMG_SPARK_CLIENT=biggis/spark-client:2.2.0

install:
  #login to dockerhub
  - docker login --username=$DOCKER_HUB_USERNAME --password=$DOCKER_HUB_PASSWORD

script:
  #build the images
  - docker build --build-arg BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"` --build-arg VCS_REF=`git rev-parse --short HEAD` -t $IMG_SPARK .
  - docker build --build-arg BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"` --build-arg VCS_REF=`git rev-parse --short HEAD` -t $IMG_SPARK_CLIENT -f Dockerfile.client .

after_success:
  - echo "build successful"
  #push the image to dockerhub
  - docker push $IMG_SPARK
  - docker push $IMG_SPARK_CLIENT
