version: '2.1'

services:

  spark-master:
    image: biggis/spark:2.3.2
    hostname: spark-master
    ports:
      - "6066:6066"
      - "7077:7077"
      - "8080:8080"
    command: start.sh master
    environment:
      USER_ID: ${USER_ID-1000}
      USER_NAME: spark
      TIMEZONE: Europe/Berlin
      HADOOP_MASTER_ADDRESS: hdfs-name
      REMAINING_SYS_MEM_IN_PERCENT: 20

  spark-worker:
    image: biggis/spark:2.3.2
    depends_on:
      - spark-master
    command: start.sh worker
    #ports:
    #  - "8081:8081"
    environment:
      USER_ID: ${USER_ID-1000}
      USER_NAME: spark
      TIMEZONE: Europe/Berlin
      SPARK_MASTER_ADDRESS: spark-master
      HADOOP_MASTER_ADDRESS: hdfs-name
      REMAINING_SYS_MEM_IN_PERCENT: 20

networks:
  default:
    external:
      name: biggishdfs_default
