version: '2.1'

services:

  spark-client:
    image: biggis/spark-client:2.1.0
    hostname: spark-client
    command: submit.sh /opt/spark-example-1.0-SNAPSHOT.jar
    environment:
      USER_ID: ${USER_ID-1000}
      USER_NAME: spark-client
      TIMEZONE: Europe/Berlin
      DEPLOY_MODE: client
      CLASS: eu.biggis.sparkexample.WordCount
      SPARK_MASTER_ADRESS: spark-master
      HADOOP_MASTER_ADDRESS: hdfs-name
    volumes:
      - ./job/spark-example/target/spark-example-1.0-SNAPSHOT.jar:/opt/spark-example-1.0-SNAPSHOT.jar

networks:
  default:
    external:
      name: biggishdfs_default
